@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    height: 100vh;
}

a{
   text-decoration: none;
}

.products-container {

    border: 1px solid tomato;
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}

.registration-container {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}