@{
    ViewData["Title"] = "Сесії";
}

<div class="text-center">
    <h1 class="display-4">HTTP - сесії</h1>
</div>
<p>
    HTTP-сесії - механізм збереження даних на сервері з прив'язкою до
    певного клієнта (браузера).
</p>
<p>
    Налагодження та включення механізму сесій - див. <a>https://learn.microsoft.com/en-us/aspnet/core/fundamentals/app-state?view=aspnetcore-7.0</a>

</p>