@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">ASP</h1>
    <p>Learn about <a href="/Home/Intro">Вступ</a>.</p>
    <p>Learn about <a href="/Home/Scheme">Схема взаємодії</a>.</p>
    <p>Learn about <a href="/Home/URL">URL</a>.</p>
    <p>Learn about <a href="/Home/Razor">Основи Razor</a>.</p>
    <p>Learn about <a href="/Home/PassData">Моделі передачі даних</a>.</p>
</div>
