@{
    ViewData["Title"] = "URL";
}

<div class="text-center">
    <h1 class="display-4">URL</h1>
</div>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/URI_syntax_diagram.svg/1602px-URI_syntax_diagram.svg.png"/>
<p>
Схема URL — это та часть ссылки, в которой указано, какой тип приложений используется устройством для открытия того или иного URL-адреса.<br />
</p>
<p>
    Host – это доменное имя, иногда IP-адрес ресурса, к которому обращается пользователь.<br />
</p>
<p>
    Port - отображает технический параметр, используемый для доступа к ресурсам на веб-сервере. Обычно подразумевается, что веб-сервер использует стандартные порты HTTP-протокола (80 для HTTP и 443 для HTTPS) для доступа к своим ресурсам.<br />
</p>
<p>
    PATH - это адрес ресурса на веб-сервере. В прошлом, адрес отображал местоположение реального файла в реальной директории на веб-сервере. <br />
</p>

<p>
    Query - это дополнительная информация, которую можно добавить в URL-адрес. Состоит из двух обязательных элементов: из самого параметра и его значения, разделенных знаком равенства (=). Параметры указываются в конце URL, отделяясь от основного адреса знаком вопроса (?).<br />
</p>
<p>
    Hash - это строка типа USVString , содержащая символ '#' , после которого идет идентификатор фрагмента URL-адреса. Фрагмент не кодируется. Если URL-адрес не имеет идентификатора фрагмента, то данное свойство содержит пустую строку — "" .<br />
</p>
<p>
    URL-параметры - свойство, которое добавляется в конфигурацию операционной панели её автором, чтобы использовать для действий запуска.<br />
</p>
